# server-go

APP_HOST=127.0.0.1
APP_PORT=3000
APP_NAME=gopherAI

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_DB_NAME=gopherAI
MYSQL_CHARSET=utf8mb4

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

EMAIL_AUTHCODE=your_email_auth_code
EMAIL=your_email_address

JWT_EXPIRE_DURATION=8760
JWT_ISSUER=your_issuer
JWT_SUBJECT=GopherAI
JWT_KEY=your_jwt_key

RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

RAG_HOST=
RAG_PORT=

# service-ai

OPENAI_BASE_URL="YOUR_OPENAI_BASE_URL"
OPENAI_API_KEY="YOUR_OPENAI_API_KEY"
OPENAI_MODEL_NAME="YOUR_OPENAI_MODEL_NAME"

TAVILY_API_KEY="YOUR_TAVILY_API_KEY"

EMBED_MODEL_NAME="YOUR_EMBED_MODEL_NAME"
EMBED_API_KEY="YOUR_EMBED_API_KEY"
EMBED_BASE_URL="YOUR_EMBED_BASE_URL"

QDRANT_URL="YOUR_QDRANT_URL"
QDRANT_API_KEY="YOUR_QDRANT_API_KEY"